<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="css/pico.green.min.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>Flask Demo</li>
                </ul>

                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/random">Random</a></li>
                </ul>

            </nav>
        </header>
    </body>

    <main>
        

    {% block content %}
    {% endblock %}
    </body>

</html>