{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Form
{% endblock %}


{% block content %}

<article>
    <h2>A Lovely Form</h2>

    <form method="POST" action="/processForm">

        <fieldset>
        
        <label>
            Your Name
            <input name="name" type="text" placeholder="Your Name" required>
        </label>

        <label>
            Your Age
            <input name="age" type="number" placeholder="Your Age" min="0" max="100" required>
        </label>

        </fieldset>

        <input 
            type="submit" value="Send off the data!">


    </form>
    
</article>

{% endblock %}