{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Hello!
{% endblock %}


{% block content %}
    <h1>Hello, World!</h1>

    <p>This is my first Flask web app!!!</p>
{% endblock %}