{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Random Number!
    {% endblock %}

{% block content %}

    <h2>A Lovely Random Number....</h2>

    <article id="random">
        {{ number }}
    </article>

{% endblock %}